bottle==0.12.25
branca==0.7.2
certifi==2024.6.2
charset-normalizer==3.3.2
et-xmlfile==1.1.0
folium==0.16.0
idna==3.7
iniconfig==2.0.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
openpyxl==3.1.4
packaging==24.1
pillow==10.3.0
pluggy==1.5.0
proxy_tools==0.1.0
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-Security==10.3.1
pyobjc-framework-WebKit==10.3.1
pytest==8.2.2
pywebview==5.1
requests==2.32.3
tkhtmlview==0.3.0
tkinterweb==3.23.10
typing_extensions==4.12.2
urllib3==2.2.1
xyzservices==2024.6.0
